* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 3px solid blue;
    border-radius: 20px;
    background-color: #dedede;
    width: 550px;
    height: 700px;
    padding: 40px 20px 25px 20px;
    display: flex;
    flex-direction: column;

}

p {
    background-color: #afafaf;
    text-align: end;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    padding-top: 50px;
    padding-right: 20px;
}

.button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    flex: 1;
    height: 90px;
    width: 100px;
    background-color: gray;
    border-radius: 50px;
    border: none;

}

.clear,
.equal {
    flex: 2;
}

.delete {
    color: red;
}

button {
    font-size: 2rem;
}

.clear {
    background-color: red;
}

.operator,
.equal {
    color: blue;
    font-size: 2.5rem;

}

.activeOperator {
    opacity: 0.7;
}